<p id="notice"><%= notice %></p>

<!-- <h1>Listing Pages</h1>
 -->

<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
          <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
          <div class="carousel-caption">
              <h2>Caption 1</h2>
          </div>
      </div>
      <div class="item">
          <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
          <div class="carousel-caption">
              <h2>Caption 2</h2>
          </div>
      </div>
      <div class="item">
          <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
          <div class="carousel-caption">
              <h2>Caption 3</h2>
          </div>
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
  </a>
</header>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %> -->



<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>

<script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>
